@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <section id="indexSection">
        @await Html.PartialAsync("_ProductPartial")
    </section>

    <section id="productDetailsSection" style="display:none;">
    </section>
</div>


@section Scripts {
    
    <script>


        $(document).ready(function () {

            $(document).on("click", "#goBack", function (event) {
                event.preventDefault(); 

                $("#indexSection").show(); 
                $("#productDetailsSection").html(""); 
                $("#productDetailsSection").hide(); 
            });



            $(".btnProductDetalisView").click(function (event) {
                event.preventDefault();

                var productId = $(this).data('id');

                $.ajax({
                    url: 'Home/Details',
                    type: "GET",
                    data: { productId: parseInt(productId) },
                    success: function (response) {
                        $("#indexSection").hide();
                        $("#productDetailsSection").html(response);
                        $("#productDetailsSection").show();
                    },
                    error: function (error) {
                        alert('An error occurred while loading the details.');
                    }
                });


            });

            $(document).on('click', "#addToCartButton", function (event) {
                event.preventDefault();
                var count = parseInt($("#Count").val());

                if (isNaN(count) || count <= 0) {
                    alert("Please enter a valid count greater than 0.");
                    return;
                }

                var cartItem = {
                    productId: $(this).data('id'),
                    quantity: count
                };

                $.ajax({
                    url: "/Home/AddToCart", 
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(cartItem),
                    success: function (response) {
                        alert("Item added to cart successfully!");
                    },
                    error: function (xhr, status, error) {
                        alert("An error occurred: " + xhr.responseText);
                    }
                });
            });


        });

    </script>

}